@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#navbar {
  display: flex;
  font-family: monospace;
  font-size: 12px;
  height: 4%;
  background-color: black;
  color: goldenrod;
}
#navbar p {
  padding-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
#content {
  height: 96%;
  padding: 0 5%;
  background-color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#page-head {
  font-family: 'East Sea Dokdo', cursive;
  width: 100%;
  text-align: center;
}
h1 {
  margin: 0;
}
#page-content {
  border: 1px solid rgba(218, 165, 32, 0.157);
}
#websites img{
  width: 100%; 
}
#websites {
  flex-wrap: wrap;
}
.website-preview {
  padding: 1%;
  height: 100%;
  width: 33.33%;
  float: left;
}
#websites a {
  font-size: 2.5vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}#websites a:hover {
  color: goldenrod;
  transition: .2s;
}
.link-button {
  border-radius: 5px 5px 0 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.835);
}
