@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#navbar {
  display: flex;
  font-family: monospace;
  font-size: 12px;
  height: 4%;
  background-color: black;
  color: goldenrod;
}
#navbar p {
  padding-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
#content {
  height: 96%;
  padding: 0 5%;
  background-color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#page-head {
  font-family: 'East Sea Dokdo', cursive;
  width: 100%;
  text-align: center;
}
h1 {
  margin: 0;
}
/* Bio */
#bio-container {
  font-family: monospace;
  display: flex;
  padding: 5px 10px;
  width: 100%;
  background-color: rgb(212, 219, 226);
  border: 2px solid black;
  border-radius: 5px;
}
#bio-container img {
  object-fit: cover;
  width: 50%;
  border-radius: 5px;
}
#bio-description-container {
  width: 100%;
  background-color: rgba(84, 124, 83, 0.068);
}
#bio-container p {
  padding: 2%;
  font-size: 1.5vw;
}
#arts-style {
  font-family: fantasy;
}
#technologies-style {
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#favorite-code p{
  font-size: 1.7vw;
}
#favorite-code ul{
  font-size: 1.7vw;
}
/* Website links */
#websites img{
  width: 100%; 
}
#websites {
  flex-wrap: wrap;
}
.website-preview {
  padding: 1%;
  height: 100%;
  width: 33.33%;
  float: left;
}
#websites a {
  font-size: 2.5vw;
  color: rgb(255, 255, 255);
  text-decoration: none;
  
}#websites a:hover {
  color: goldenrod;
  transition: .2s;
}
.link-button {
  border-radius: 5px 5px 0 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.835);
}
@media only screen and (max-width: 950px) {
  #bio-container {
    flex-direction: column;
  }
  #bio-container img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
  .website-preview {
    padding: 1%;
    height: 100%;
    width: 100%;
  }
}
